SSUGT_API_OUTGOING_CALLS_KEY=http://10.2.136.69:8191

STORAGE_SERVER_HOST=0.0.0.0
STORAGE_SERVER_PORT=8190
STORAGE_LOCAL_BIND=10.1.202.253:8190

STORAGE_CONTAINER_NAME=storage

OUTGOING_CALLS_SERVER_HOST=0.0.0.0
OUTGOING_CALLS_SERVER_PORT=8191
OUTGOING_CALLS_LOCAL_BIND=10.1.202.253:8191

MAX_PARALLEL_CHANNELS=5
MAX_CONCURRENT_PER_ENDPOINT=1
MAX_NUM_CHANNELS_OCCUPIED=2

POSTGRES_HOST=pg
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=NNOjxBRyaJ
POSTGRES_DB=outgoing_calls
POSTGRES_LOCAL_BIND=10.1.202.253:5432

RABBITMQ_HOST=rmq
RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=vJYid0Qzf2
RABBITMQ_LOCAL_BIND=10.1.202.253:5672
RABBITMQ_WEB_LOCAL_BIND=10.1.202.253:15672
RABBITMQ_CONSUMER_PREFETCH_COUNT=50

ARI_APP=myapp
ARI_ENDPOINT=3549838
ARI_URL=http://host.docker.internal:8088
ARI_USERNAME=ariuser
ARI_PASSWORD=<PASSWORD>
ARI_CALLER_ID=73833549838

TTS_SSUGT_BASE_URL=http://10.2.137.96:8194
TTS_EDGE_BASE_URL=http://127.0.0.1:8195

IAM_YANDEX_BASE_URL=https://iam.api.cloud.yandex.net
TTS_YANDEX_BASE_URL=https://tts.api.cloud.yandex.net
TTS_YANDEX_OAUTH_TOKEN=
TTS_YANDEX_FOLDER_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_FOLDER_ID=